#root {
  height : 100vh;
  display : flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main {
  display : flex;
  flex-direction: column;
  justify-content: center;
}
.resMain {
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}
.box {
  display : flex;
  flex-direction : column;
  border : 3px solid black;
  width : 200px;
  height : 200px;
}
.win {
  border : 3px solid green;
}
.win h3 {
  border : none;
  color : green;
}
.lose {
  border : 3px solid red;
}
.lose h3 {
  border : none;
  color : red;
}
.tie {
  border : 3px solid black;
}
.tie h3 {
  border : none;
  color : black;
}
.box h1 {
  margin : 0;
}
.box h3 {
  margin : 0;
}
.box img {
  width : 100px;
  height : 100px;
}
.main div {
  display : flex;
  align-items : center;
  justify-content: center;
}
#vs {
  font-size : 30px;
}
.btnMain button{
  font-size : 30px;
  border : none;
  border-radius: 25px;
  width : 50px;
  height : 50px;
  margin : 10px;
  cursor : pointer;
  box-shadow : 1px 4px black;
}
.btnMain button:active {
  box-shadow : 1px 2px black;
  position : relative;
  top : 2px;
}
@media (max-width : 600px) {
  .box {
    width : 150px;
    height : 150px;
  }
  .img {
    width : 50px;
    height : 50px;
  }
  h1 {
    font-size : 20px;
  }
  h3 {
    font-size : 15px;
  }
  .btnMain button{
    font-size : 20px;
    border : none;
    border-radius: 18px;
    width : 36px;
    height : 36px;
    margin : 5px;
    cursor : pointer;
    box-shadow : 1px 4px black;
  }
}